/*B40_HarishKumawat*/
body{background-color: skyblue;}

table.a{border-radius: 25px;
    margin-top: 50px;}

td.blue{background-color:#3986BE;
    border-radius: 15px 0px 0px 15px;
    vertical-align: text-top;}

td.white{background-color: white;
    border-radius: 0px 15px 15px 0px;}

input{border-radius: 5px;
    border:1px groove;}

button{border-radius:5px 0px 5px 0px;
    border:1px groove;}

p.a{padding: 0px 10px ;}